.emptyList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.emptyList svg {
    color: var(--gray-300);
}

.emptyList p {
    color: var(--gray-200);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.emptyList p span {
    color: var(--gray-300);
}